body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.img-right {
	float: right;
	padding: 20px;
}
.img-left {
	float: left;
	padding: 20px;
}
img {
	height: 300px;
	width: 300px;
}
p {
	clear: both;
}
